body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  font-size: 0.92rem;
}

table th {
  font-weight: 600 !important;
  text-transform: capitalize;
}

#sidebar-menu ul li a.active {
  color: #383c40;
}
